* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0B2434;
  color: #2B283A;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
}
.container {
  background: #F5F5F5;
  width: 320px;
  height: 320px;
  border-radius: 5px;
  text-align: center;
  padding: 1.5rem 1rem;
}
p {
  font-family: 'Inter', sans-serif;
}
.dice-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 1.5rem;
  grid-gap: 0.5rem;
  justify-items: center;
}
.die {
  background-color: #FFF;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.die-num {
  color: #2B283A;
  font-size: 25px;
  font-weight: 700px;
}
button {
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  margin-top: 1.5rem;
  width: 105px;
  height: 35.84px;
  border-radius: 3.81px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
}